.slider {
  position: relative;
  max-width: 876px;
  width: 100%;
  overflow: hidden;
  margin-left: 40px;
}

.sliderList {
  display: flex;
  column-gap: 24px;
  width: 100%;
  list-style-type: none;
}

.sliderItem {
  position: relative;
  flex-shrink: 0;
  flex-basis: 404px;
  height: 582px;
  will-change: transform;
}
.sliderItem:first-child > img {
  animation: slider1 0.75s linear;
}

.sliderItem:not(:first-child) {
  flex-basis: 372px;
  height: 486px;
  animation: slider2 0.75s linear;
}

.sliderItem:not(:first-child) > .sliderItemIntro {
  display: none;
}

.sliderItem > .image {
  height: 100%;
  object-fit: cover;
}

.sliderBtnNext {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--text-white);
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.16));
  opacity: 0.7;
  transition: all 0.25s linear;
}

.sliderBtnNext > svg {
  width: 100%;
  height: 100%;
  fill: var(--text-catching);
}

.sliderBtnNext:hover,
.sliderBtnNext:focus {
  opacity: 1;
}

.sliderBtnNext:active svg {
  transform: scale(1.05);
}

.siderBtn {
  position: absolute;
  bottom: 48px;
  left: 428px;
}

@keyframes slider1 {
  0% {
    opacity: 0;
    width: 50%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes slider2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
