.discLabelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--new-item);
  color: var(--text-white);
}

.discLabelBack_discount {
  background: var(--discount-item);
}
