.ic-container {
  width: 100%;
  margin-top: 18px;
}

.itemColorTitle {
  margin-bottom: 12px;
  color: var(--text-grey-4);
}

.itemColorBtnWrapper {
  display: flex;
  gap: 16px;
}

.itemColorField {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.itemColorLabel {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.itemColorField:checked + .itemColorLabel {
  border: 2px solid var(--button-primary);
}
