.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 25;
	background-color: rgba(255, 255, 255, 0.8);
}

.headerContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1440px;
	height: 100px;
	margin: 0 auto;
	padding: 29px 10px 29px 10px;
}


@media screen and (min-width: 980px) {
	.headerContainer {
		padding: 29px 100px 29px 54px;
	}
}

