.sliderTitle {
  width: 100%;
  max-width: 464px;
  height: 100%;
}

.sliderTitle > h2 {
  margin-bottom: 7px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-dark-3);
}

.sliderTitle > p {
  margin-bottom: 25px;
  font-weight: 500;
  color: var(--text-grey-2);
}
