.modalFavoriteContainer {
  width: 100%;
  padding: 28px 22px 28px 27px;
  height: auto;
  background-color: var(--bg-primary);
}

.modalFavoriteContainer > ul {
  width: 100%;
  padding-top: 22px;
}

.mf-closeModalButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.mf-closeModalButton:hover,
.mf-closeModalButton:focus {
  box-shadow: var(--hover-second-btn);
}

.mf-top-title {
  padding-bottom: 26px;
  border-bottom: 1px solid var(--text-grey-4);
  font-size: 24px;
  text-transform: capitalize;
}

.mf-top-title > h2 {
  font-size: 32px;
}

.mf-imageContainer {
  width: 105px;
  height: 105px;
  border-radius: 10px;
  overflow: hidden;
}
.mf-imageContainer > img {
  object-fit: cover;
}

.mf-itemInfo > h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
  font-weight: 500;
}
.mf-deleteButton {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.mf-absence {
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.2px;
}
