.headerButtons {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  padding: 10px 0;
}

.headerButtons_icon-size {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

@media screen and (min-width: 980px) {
  .headerButtons.hidden {
    display: flex;
  }
  .headerButtons {
    width: 247px;
  }
}
