.placeOrderForm, .placeOrderForm > div, .orderRadioItem {
	width: 100%;
	height: auto;
}

.placeOrderForm {
	margin-top: 22px;
}

.orderRadioField {
	position: absolute;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
}

.orderRadioLable {
	cursor: pointer;
	font-weight: 500;
	text-transform: capitalize;
}

.orderRadioLable::before {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid var(--text-grey-4);
	margin-right: 15px;
	border-radius: 50%;
	transition: all .3s linear;
}

.orderRadioField:checked + .orderRadioLable::before {
	background-color: var(--text-dark-1);
}

.orederDisabled {
	color: var(--text-grey-4);
}

.orderRadioItem > p{
	margin: 11px 0 25px 0;
	font-weight: 300;
	color: var(--text-grey-4);
}

.orderAgreement {
	margin: 22px 0 39px 0;
	font-weight: 500;
}

.orederSubmitBtn{
	width: 100%;
	max-width: 318px;
	min-width: 150px;
	min-height: 64px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid var(--text-dark-1);
	border-radius: 15px;

	font-size: 20px;
	text-transform: capitalize;
	cursor: pointer;
	transition: box-shadow .3s ease;
}

.orederSubmitBtn:hover, .orederSubmitBtn:focus{
	box-shadow: var(--hover-second-btn);
}

.orederSubmitBtn:active {
	background-color: rgba(0, 0, 0, 0.1);
}