:root {
  --text-dark-1: #000000;
  --text-dark-2: #333333;
  --text-dark-3: #3A3A3A;
  --text-grey-1: #666666;
  --text-grey-2: #616161;
  --text-grey-3: #898989;
  --text-grey-4: #9F9F9F;
  --text-grey-5: #B0B0B0;
  --text-grey-6: #D8D8D8;
  --text-grey-7: #F4F5F7;
  --text-white: #FFFFFF;
  --text-catching:#B88E2F;
  --button-primary: #b88e2f;
  --discount-item: #E97171;
  --new-item: #2EC1AC;
  --bg-primary: #FFFFFF;
  --bg-secondary: #F9F1E7;
  --bg-third: #030303;
  --bg-hero-hint: #FFF3E3;
  --bg-card: #F4F5F7;

  --hover-text-shodow: rgba(102, 102, 102, 0.7) 4px 4px 4px;
  --hover-second-btn: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  margin-top: 100px;
  padding: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


button {
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
}


.image {
  display: block;
  width: 100%;
  height: auto;
}

.headerIconButtons {
	width: 30px;
	height: 30px;
	padding: 3px;
	border-radius: 50%;
	cursor:pointer;
	transition: all .25s linear;
}


.headerIconButtons:active{
	background: linear-gradient(90deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
}
.headerIconButtons:hover{
	filter: drop-shadow(3px 3px 2px var(--text-dark-2));
}

.mc-c-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: auto;
}


::-webkit-scrollbar {
  width: 10px;            
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);        
}

::-webkit-scrollbar-thumb {
  background-color: rgba(184, 142, 47, 0.9);    
  border-radius: 20px;   

}

@keyframes formShowUp {
	0% {
		opacity: 0.5;
		transform: translateY(30%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}