:root {
  --text-dark-1: #000000;
  --text-dark-2: #333333;
  --text-dark-3: #3A3A3A;
  --text-grey-1: #666666;
  --text-grey-2: #616161;
  --text-grey-3: #898989;
  --text-grey-4: #9F9F9F;
  --text-white: #FFFFFF;
  --text-catching:#B88E2F;
  --button-primary: #B88E2F;
  --discount-item: #E97171;
  --new-item: #2EC1AC;
  --bg-primary: #FFFFFF;
  --bg-secondary: #F9F1E7;
  --bg-hero-hint: #FFF3E3;
  --bg-card: #F4F5F7;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


button {
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
}

