.buttonSecondary {
	position: relative;
	border: 1px solid var(--button-primary);
	width: 100%;
	background-color: var(--bg-primary);
	cursor: pointer;
	color: var(--button-primary);
	transition: all .25s linear;
	z-index: 22;
}

.buttonSecondary:hover, .buttonSecondary:focus {
	letter-spacing: 1.3px;
}

.buttonSecondary:active {
	background: var(--bg-primary) linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.250701) 100%);
}

.buttonSecondary:disabled{
	border: 1px solid var(--text-grey-4);
	color: var(--text-grey-4);
	font-size: 16px;
}