.nav {
	margin-right: 158px;
}

.navList {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	list-style-type: none;
	width: 365px;
}

.navList a {
	font-weight: 500;
	color: inherit;
	text-decoration: none;
	text-transform: capitalize;
	transition: all .25s linear;
}

.navList a:hover{
	text-shadow: var(--hover-text-shodow);
}

.navList .active {
	color: var(--button-primary);
}