.nav {
	display: none;
	animation: searchShowUp .45s ease;
}

.navList {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	list-style-type: none;
	width: 365px;
}

.navList a {
	font-weight: 500;
	color: inherit;
	text-decoration: none;
	text-transform: capitalize;
	transition: all .25s linear;
}

.navList a:hover, .navList a:focus{
	text-shadow: var(--hover-text-shodow);
}

.navList .active {
	color: var(--button-primary);
}

@media screen and (min-width: 980px) {
	.nav {
		display: block;
		margin-left: 10px;
	}
}


@keyframes searchShowUp {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}